body {
    background: #C7EFCF;
}
.container {
    background-color: #C7EFCF; 
    font-weight: bold;
    font-family:'Merriweather', sans-serif;
    text-align: center;
    margin:30px;
    color:navy;
       
  }

.card {
    width: 100%;
    display: flex;
    background-color:whitesmoke;
    justify-content: center;
    align-content: center;
    text-align: justify;
   }

.card img {
    width: 300px;
}
.card p {
    font-family: 'Merriweather', sans-serif;
    color: navy;
    margin: 10px;
    font-size: 16px;
    padding: 150px;
    
}


.btn-voltar {
    float:left;
    text-decoration: none;
}
