body {
    background: #C7EFCF;
}
/* HEADER*/
.card-header {
    display: flex;
    background-color: #171123;
    
    align-items: center;
    justify-content: center;
    height: 160px;
    font-style: oblique;
    }
.card-header img {
    border-radius: 50%;
    max-width: 120px;
    max-height: 120px;
    width: auto;
    height: auto;
    margin: 10px ;
   }
.card-header h1 {
    font-family: 'Merriweather', sans-serif;
    color: antiquewhite;
    font-size: 32px;
}

  @media (min-width:768px) {
      h1 {
          font-size: 16px;
          color: whitesmoke;
         }
    }   

      /*Card de Fotos*/
.container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    }
        
@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
}

.cards {
    width: 300px;
    padding: 10px;
    background: papayawhip; 
    margin: 10px;   

}   

.cards p {
    font-family: 'Merriweather', sans-serif;
    color: midnightblue;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.cards img {
    width: 100%;
     
}

.cards :hover {
    transform: scale(1.05);
}


